/* Estilos de presentacion */
#fondoDePortada{
    background-image: url(./img/central/imagenCentral.png);
    /* agregamos las caracteristicas para este fondo */
    background-repeat: no-repeat;/* que no se repita */
    background-size: cover; /* que cubra todo */
    height: auto; /* que se adapte al alto -> 100%(otra opcion) */
}


.contendor-primera-seccion {
    width: 50%;
    padding: 2rem;
}

.contendor-primera-seccion h1{
    color: #FFFAF4;
}
.contendor-primera-seccion p{

}



/* media query -> mobile 380 - tablet 580 - desktop 1200
min -> desde aca
max -> hast aca */
@media screen (min-width:380px) and (max-width:580){

}

@media screen (min-width:581px) and (max-width:1200){

}

@media screen (min-width:1201){

}